{% load static %}


<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="{% static 'sneat/assets/img/favicon/favicon.ico' %}"/>

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com"/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
<link
    href="{% static 'sneat/fonts/googleapis.css' %}"
    rel="stylesheet"
/>

<!-- Icons. Uncomment required icon fonts -->
<link rel="stylesheet" href="{% static 'sneat/assets/vendor/fonts/boxicons.css' %}"/>

<!-- Core CSS -->
<link rel="stylesheet" href="{% static 'sneat/assets/vendor/css/core.css' %}" class="template-customizer-core-css"/>
<link rel="stylesheet" href="{% static 'sneat/assets/vendor/css/theme-default.css' %}"
      class="template-customizer-theme-css"/>
<link rel="stylesheet" href="{% static 'sneat/assets/css/demo.css' %}"/>
<link rel="stylesheet" href="{% static 'css/admin/admin.css' %}"/>

<!-- Vendors CSS -->
<link rel="stylesheet" href="{% static 'sneat/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}"/>

<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
<script src="{% static 'sneat/assets/js/config.js' %}"></script>