{% load static %}

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="{% static 'sneat/assets/vendor/libs/jquery/jquery.js' %}"></script>
<script src="{% static 'sneat/assets/vendor/libs/popper/popper.js' %}"></script>
<script src="{% static 'sneat/assets/vendor/js/bootstrap.js' %}"></script>
<script src="{% static 'sneat/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

<script src="{% static 'sneat/assets/vendor/js/menu.js' %}"></script>
<!-- endbuild -->

<!-- Vendors JS -->

<!-- Main JS -->

<!-- Page JS -->
<script src="{% static 'js/admin/admin.js' %}"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script src="{% static 'sneat/assets/js/buttons.github.io.js' %}"></script>