{% extends 'Admin/Login/base_login.html' %}
{% load i18n hosts %}

{% block title-area %}
  {% trans 'Joke - Forgot password' %}
{% endblock %}

{% block content %}
  <h4 class="mb-2">{% trans 'Forgot Password?' %} 🔒</h4>
  <p class="mb-4">{% trans "Enter your email and we'll send you instructions to reset your password" %}</p>
  <form id="formAuthentication" class="mb-3" action="#" method="POST">
    {% csrf_token %}
    {% include 'base_non_field_error_block.html' with form=form %}

    <div class="mb-3">
      <label for="email" class="form-label">{% trans 'Email' %}</label>
      <input type="text" class="form-control" id="email" name="email"
             value="{{ form.email.value|default:'' }}"
             placeholder="{% trans 'Enter your email' %}"
             autofocus="">
      {% include 'Admin/Login/login_error_block.html' with field=form.email %}
    </div>
    <button class="btn btn-primary d-grid w-100">{% trans 'Send Reset Link' %}</button>
  </form>
  <div class="text-center">
    <a href="{% host_url 'admin-login' host 'admin' %}"
       class="d-flex align-items-center justify-content-center">
      <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
      {% trans 'Back to login' %}
    </a>
  </div>
{% endblock %}