{% extends 'Admin/Login/base_login.html' %}
{% load i18n hosts static %}

{% block title-area %}
  {% trans 'Joke - Forgot password send' %}
{% endblock %}

{% block content %}
  <h2 class="mb-2 mx-2">{% trans 'Oops!' %}</h2>
  <p class="mb-4 mx-2">{% trans 'Link is incorrect or expired!' %}</p>
  <a href="{% host_url 'admin-login' host 'admin' %}" class="btn btn-primary">{% trans 'Back to home' %}</a>
  <div class="mt-4">
    <img src="{% static 'sneat/assets/img/illustrations/girl-doing-yoga-light.png' %}" alt="girl-doing-yoga-light"
         width="500"
         class="img-fluid" data-app-dark-img="illustrations/girl-doing-yoga-dark.png"
         data-app-light-img="illustrations/girl-doing-yoga-light.png">
  </div>
{% endblock %}