{% extends 'Admin/Login/base_login.html' %}
{% load i18n hosts %}

{% block title-area %}
  {% trans 'Joke - Login' %}
{% endblock %}

{% block content %}
  <h4 class="mb-2">{% trans 'Welcome!' %} 👋</h4>
  <p class="mb-4">{% trans 'Please sign-in to your account and start the adventure' %}</p>

  <form id="formAuthentication" class="mb-3" action="" method="POST">
    {% csrf_token %}
    {% include 'base_non_field_error_block.html' with form=form %}

    <div class="mb-3">
      <label for="email" class="form-label">{% trans 'Email' %}</label>
      <input type="text" class="form-control" id="email" name="email"
             value="{{ form.email.value|default:'' }}"
             placeholder="{% trans 'Enter your email' %}"
             autofocus="">

      {% include 'Admin/Login/login_error_block.html' with field=form.email %}
    </div>
    <div class="mb-3 form-password-toggle">
      <div class="d-flex justify-content-between">
        <label class="form-label" for="password">{% trans 'Password' %}</label>
        <a href="{% host_url 'admin-forgot-password' host 'admin' %}">
          <small>{% trans 'Forgot Password?' %}</small>
        </a>
      </div>
      <div class="input-group input-group-merge">
        <input type="password" id="password" class="form-control" name="password"
               placeholder="{% trans 'Password' %}"
               value="{{ form.password.value|default:'' }}">
        <span class="input-group-text cursor-pointer password-toggler">
                  <i class="bx bx-hide"></i>
                </span>
      </div>
      {% include 'Admin/Login/login_error_block.html' with field=form.password %}
    </div>
    <div class="mb-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="remember_me">
        <label class="form-check-label" for="remember_me"> {% trans 'Remember Me' %} </label>
      </div>
    </div>
    <div class="mb-3">
      <button class="btn btn-primary d-grid w-100" type="submit">{% trans 'Sign in' %}</button>
    </div>
  </form>
{% endblock %}