{% extends 'Public/base.html' %}
{% load static i18n hosts %}

{% block content %}
  {% include 'Public/Account/upper_section.html' with phrase=_("Confirm") %}

  <section class="module">
    <div class="container">
      <div class="row">
        <div class="h-100 d-flex justify-content-center align-items-center col col-lg-6">
          <h4 class="font-alt">{% trans 'Confirm' %}</h4>
          <hr class="divider-w mb-10">
          <form class="form" action="" method="POST">
            {% csrf_token %}
            {% include 'base_non_field_error_block.html' with form=form %}

            <div class="form-group">
              <input type="password" id="password" class="form-control" name="password"
                     placeholder="{% trans 'Password' %}"
                     aria-describedby="password">
              {% include 'base_field_error_block.html' with field=form.password %}
            </div>
            <div class="form-group">
              <input type="password" id="repeat_password" class="form-control" name="repeat_password"
                     placeholder="{% trans 'Repeat password' %}"
                     aria-describedby="repeat_password">
              {% include 'base_field_error_block.html' with field=form.repeat_password %}
            </div>
            <div class="form-group">
              <button class="btn btn-round btn-b">{% trans 'Reset password' %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}