{% extends 'Public/base.html' %}
{% load static i18n hosts %}

{% block content %}
  {% include 'Public/Account/upper_section.html' with phrase=_("Forgot password") %}

  <section class="module">
    <div class="container">
      <div class="row">
        <div class="h-100 d-flex justify-content-center align-items-center col col-lg-6">
          <h4 class="font-alt">{% trans 'Forgot password' %}</h4>
          <hr class="divider-w mb-10">
          <form class="form" action="" method="POST">
            {% csrf_token %}
            {% include 'base_non_field_error_block.html' with form=form %}

            <div class="form-group">
              <input type="text" class="form-control" id="email" name="email"
                     value="{{ form.email.value|default:'' }}"
                     placeholder="{% trans 'Enter your email' %}"
                     autofocus="">
              {% include 'base_field_error_block.html' with field=form.email %}
            </div>
            <div class="form-group">
              <button class="btn btn-round btn-b">{% trans 'Send email' %}</button>
            </div>
          </form>
          <div class="form-group">
            <div class="col col-6">
              <a href="{% host_url 'home-login' host 'public' %}">{% trans 'Back to login' %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
