{% extends 'Public/base.html' %}
{% load static i18n hosts %}

{% block content %}
  <section class="home-section home-fade home-full-height bg-dark-60 landing-header"
           data-background="{% static 'titan/images/faq_bg.jpg' %}"
           style="background-image: url({% static 'titan/images/faq_bg.jpg' %});">
    <div class="titan-caption">
      <div class="caption-content" style="opacity: 1;">
        <div class="container">
          <div class="font-alt mb-30 titan-title-size-3">
            {% trans 'Register link is inactive!' %}
          </div>
          <div class="font-alt">
          </div>
          <div class="font-alt mt-30">
            <a class="btn btn-border-w btn-circle" href="{% host_url 'home-index' host 'public' %}">
              <i class="icon-happy"></i> {% trans 'Go back' %}</a></div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
