{% load static i18n %}
<section class="module bg-dark-30" data-background="{% static 'images/img_2.png' %}"
         style="background-image: url({% static 'images/img_2.png' %});">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1 class="module-title font-alt mb-0">
          {% if phrase %}
            {{ phrase }}
          {% else %}
            {% trans 'Login' %}
          {% endif %}
        </h1>
      </div>
    </div>
  </div>
</section>