{% extends 'Public/base.html' %}
{% load static i18n %}

{% block content %}
  <section class="home-section home-parallax home-fade home-full-height bg-dark-30" id="home"
           data-background="{% static 'titan/images/section-1.jpg' %}">
    <div class="titan-caption">
      <div class="caption-content">
        <div class="font-alt mb-30 titan-title-size-1">Hello &amp; welcome</div>
        <div class="font-alt mb-40 titan-title-size-4">We are Titan</div>
        <a class="btn btn-border-w btn-round" href="#">Learn More</a>
      </div>
    </div>
  </section>
  <div class="scroll-up"><a href="#"><i class="fa fa-angle-double-up"></i></a></div>
{% endblock %}