<!DOCTYPE html>
<html lang="en-US" dir="ltr">
{% load i18n static hosts %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% trans 'Joker' %}</title>

  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <!--
  Stylesheets
  =============================================

  -->
  <!-- Default stylesheets-->
  <link href="{% static 'titan/lib/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Template specific stylesheets-->
  <link href="{% static 'titan/fonts/roboto-condensed-400-700.css' %}" rel="stylesheet">
  <link href="{% static 'titan/fonts/volkhov-400i.css' %}" rel="stylesheet">
  <link href="{% static 'titan/fonts/open-sans-300-400-600-700-800.css' %}" rel="stylesheet">
  <link href="{% static 'titan/lib/animate.css/animate.css' %}" rel="stylesheet">
  <link href="{% static 'titan/lib/components-font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'titan/lib/et-line-font/et-line-font.css' %}" rel="stylesheet">
  <link href="{% static 'titan/lib/flexslider/flexslider.css' %}" rel="stylesheet">
  <link href="{% static 'titan/lib/owl.carousel/dist/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'titan/lib/owl.carousel/dist/assets/owl.theme.default.min.css' %}" rel="stylesheet">
  <link href="{% static 'titan/lib/magnific-popup/dist/magnific-popup.css' %}" rel="stylesheet">
  <link href="{% static 'titan/lib/simple-text-rotator/simpletextrotator.css' %}" rel="stylesheet">
  <!-- Main stylesheet and color file-->
  <link href="{% static 'titan/css/style.css' %}" rel="stylesheet">
  <link id="color-scheme" href="{% static 'titan/css/colors/default.css' %}" rel="stylesheet">
  <link href="{% static 'css/public/main.css' %}" rel="stylesheet">

  {% block extracss %}
  {% endblock %}
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main id="main-container"
      data-empty-page-api-url="{{ EMPTY_PAGE_API_URL }}">
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation" id="header-navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">{% trans 'Joker' %}</a>
      </div>
      <div class="collapse navbar-collapse" id="custom-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="{% host_url 'home-index' host 'public' %}">{% trans 'Home' %}</a>
          </li>
          {% if request.user.is_authenticated %}
            <li>
              <a href="{% host_url 'home-favourite' host 'public' %}">{% trans 'Favourite' %}</a>
            </li>
            <li>
              <a href="{% host_url 'home-seen' host 'public' %}">{% trans 'Seen' %}</a>
            </li>
          {% endif %}
          <li>
            <a href="{% host_url 'home-top' host 'public' %}">{% trans 'Top' %}</a>
          </li>
          {% if request.user.is_authenticated %}
            <li>
              <a href="{% host_url 'home-logout' host 'public' %}">{% trans 'Logout' %}</a>
            </li>
          {% else %}
            <li>
              <a href="{% host_url 'home-login' host 'public' %}">{% trans 'Login' %}</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock %}
</main>
<!--
JavaScripts
=============================================
-->
<script src="{% static 'titan/lib/jquery/dist/jquery.js' %}"></script>
<script src="{% static 'titan/lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'titan/lib/wow/dist/wow.js' %}"></script>
<script src="{% static 'titan/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js' %}"></script>
<script src="{% static 'titan/lib/isotope/dist/isotope.pkgd.js' %}"></script>
<script src="{% static 'titan/lib/imagesloaded/imagesloaded.pkgd.js' %}"></script>
<script src="{% static 'titan/lib/flexslider/jquery.flexslider.js' %}"></script>
<script src="{% static 'titan/lib/owl.carousel/dist/owl.carousel.min.js' %}"></script>
<script src="{% static 'titan/lib/smoothscroll.js' %}"></script>
<script src="{% static 'titan/lib/magnific-popup/dist/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'titan/lib/simple-text-rotator/jquery.simple-text-rotator.min.js' %}"></script>
<script src="{% static 'titan/js/plugins.js' %}"></script>
<script src="{% static 'titan/js/main.js' %}"></script>

<script src="{% static 'js/public/main.js' %}"></script>
<script src="{% static 'js/public/jokes-like-dislike.js' %}"></script>

{% block extrajs %}
{% endblock %}

</body>
</html>