{% extends 'Public/base.html' %}
{% load static i18n %}

{% block content %}
  {% if jokes %}
    <section class="module" id="top-jokes">
      <div class="container">
        {% for joke in jokes %}
          {% include 'Public/joke_card.html' with joke=joke counter=forloop.counter %}
        {% endfor %}
      </div>
    </section>
  {% else %}
    {% include 'Public/empty_page.html' %}
  {% endif %}
{% endblock %}

{% comment %}
{% block content %}
  <div id="top-jokes-div">
  </div>
{% endblock %}

{% block extrajs %}
  <script src="{% static 'js/public/top-jokes.js' %}"></script>
{% endblock %}{% endcomment %}
