{% extends 'Public/base.html' %}
{% load static %}

{% comment %}{% block content %}
  {% if jokes %}
    {% include 'Public/jokes/jokes.html' %}
  {% else %}
    {% include 'Public/empty_page.html' %}
  {% endif %}
{% endblock %}{% endcomment %}

{% block content %}
  <div id="top-jokes-div" data-jokes-url="{{ jokes_url }}">
    <section class="module">
      <div class="container">
      </div>
    </section>
  </div>
{% endblock %}

{% block extrajs %}
  <script src="{% static 'js/public/top-jokes.js' %}"></script>
{% endblock %}

