{% load i18n hosts %}

<div class="row">
  <h2 class="module-title font-alt">{% trans 'Joke' %}
    <div class="team-social joke-container"
        {% if request.user.is_authenticated %}
         data-like-joke-url="{% host_url 'api-v1:jokes-account-like' joke.id host 'api' %}"
         data-dislike-joke-url="{% host_url 'api-v1:jokes-account-dislike' joke.id host 'api' %}"
         data-deactivate-joke-url="{% host_url 'api-v1:jokes-account-deactivate' joke.id host 'api' %}"
        {% endif %}
         data-send-via-email-joke-url="{% host_url 'api-v1:jokes-all-send-via-email' joke.id host 'api' %}"
    >
      {% with likes=joke.likes %}
        {% if request.user.is_authenticated %}
          <a href="#">
            <i class="fa fa-thumbs-up joke-like {% if joke.is_liked == True %}liked{% endif %}">
              <span>{% if likes > 0 %}{{ likes }}{% endif %}</span>
            </i>
          </a>
          <a href="#">
            <i class="fa fa-thumbs-down joke-dislike {% if joke.is_liked == False %}disliked{% endif %} "></i>
          </a>
        {% else %}
          <a href="#" disabled>
            <i class="fa fa-thumbs-up {% if likes > 0 %}liked{% endif %}">
              {% if likes > 0 %}{{ likes }}{% endif %}
            </i>
          </a>
        {% endif %}
      {% endwith %}
      <a href="#" class="send-joke-via-email" data-toggle="modal" data-target="#sendJokeViaEmail">
        <i class="fa fa-envelope"></i>
      </a>
    </div>
  </h2>
  <div class="module-subtitle large-text">
    {{ joke.text|safe|escape }}
  </div>
</div>
